*{
    margin: 0;
    padding: 0;
  }
  body{
    width: 100%;
  }
  .container{
    width: 100%;
  }
  /* -----------trai------------- */
  .left{
    width: 20%;
    height: 1000px;
    background-color: lemonchiffon;
    float: left;
    /* margin-left: 5px; */
    padding-left: 5px;
  }
  #tieude{
    color: black;
    font-size: large;
    margin-top: 15px;
    /* padding-bottom: 15px; */
  
  }
  #user_img{
    margin-top: 10px;
    width: 50px;
    border-radius: 50%;
    padding-left: 4px;
  }
  #name_user{
    margin-top: 5px;
  }
  #bang_trai{
    margin-top: 15px;
    padding-bottom: 15px;
    width: 270px;
  }
  .bars{
    text-align: left;
    padding-left: 5px;
    height: 45px;
    color: black;
    margin-top: 50px;
    /* border: 1px solid silver; */
    width: 90px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    padding-top: 10px;
  }
  .bars:hover{
    padding-left: 25px;
    color: red;
    transition: 0.9s;
    background-color: lightskyblue;
  }
  #text{
    text-align: left;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 15px;
    height: 15px;
    padding-top: 20px;
    padding-bottom: 15px;
    color: black;
    font-weight: 550;
  
    letter-spacing: .1em;
    /* text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9); */
  
  }
  /* --------------phai--------------- */
  .right{
    float: left;
    width: 80%;
    height: 1000px;
    background-color: white;
  }
  #bang_select{
    margin-left: 20px;
  }
  #bang_select tr, td{
  
    text-align: left;
    padding-top: 12px;
    font-weight: 600;
    font-size: 17px;
  
  }
  #main_right_table td, th {
    border: 1px solid silver;
    text-align: center;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    color: #666666;
    vertical-align: top;
    text-align: center;
  }
  